* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Main Parent Styles */
.content {
  width: max-content;
  margin: 100px auto;
}

/* End of Main Parent Styles */


/* Parent of Search Input and Input Styles - User may search for any movie with input */
.content-search {
  display: flex;
  justify-content: end;
  margin-bottom: 50px;
}

.searchInput {
  width: 150px;
  height: 40px;
  padding: 12px;
  border: 1px solid #dadada;
  border-radius: 20px;
  font-size: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
  outline: none;
}
/* End of Parent of Search Input and Input Styles*/


/* Content Area Style - Divs for movies will be add here */
.content-movie {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
}
/* End of Content Area Style  */


/* Media Quieries for Responsive Structure*/
@media screen and (min-width: 768px) and (max-width:1024px) {
  .content-movie {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    justify-items: center;
  }
}
@media screen and (max-width:767px) {
  .content-movie {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
/* End of Media Quieries for Responsive Structure*/


/* Styles of Movies's Div and its child divs */
.content-movie-card {
  width: 220px;
  height: 350px;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
  border-radius: 16px;
}

.content-movie-card-img > img {
  width: 100%;
  height: 260px;
  object-fit: fill;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.content-movie-card-info {
  padding: 10px;
  font-family: Montserrat;
  font-size: 14px;
}

.card-info-top {
  display: flex;
  justify-content: space-around;
  gap: 5%;
}

.movie-name {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 75%;
  font-size: 15px;
  font-weight: 600;
 
}

.movie-rate-span {
  width: 20%;
  height: 30px;
  border-radius: 8px;
  background: #f1eeee;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-info-bottom {
  position: relative;
  bottom: -10px;
}
.movie-date {
  font-weight: 400;
}
/* End of Styles of Movies's Div and its child divs*/


/* Styles For Movie's Rating */
.green {
  color: rgb(42 194 42);
}
.blue {
  color: rgb(82 165 244);
}
.red {
  color: rgb(155, 4, 4);
}
/* End of Styles For Movie's Rating */